/*     BASE STYLES      */

body {
	background-color: white;
}

#container {
/*	background-color: white;*/
	width: 60%;
	margin: 0 auto;
	padding-bottom: 3em;
/*	height: 45em;*/
	border: 1px black solid;
}




/*    NAVBAR     */

.navbar ul {
	list-style-type: none;
}

.navbar li {
	display: inline;
}

#logo {
	height: 4em;
	width: 3em;
	margin: 0;
}

#input {
	height: 2em;
	margin: 0 2em;
	width: 60%;
}

#clear-all {
	height: 2em;
}




/*   CHECKBOXES   */

#checkboxes ul {
	list-style-type: none;
	margin-left: 5em;
}

#checkboxes li {
	display: inline;
}




/*    H3     */

h3 {
	margin-left: 3em;
}


/*    OUTPUT    */

#output {
	height:25em;
	border: 1px black solid;
	width: 80%;
	margin: 0 auto;
	overflow: scroll;
}





/*      TOGGLE     */

.dark {
	background-color: black;
	color: white;
}

.large {
	font-size: 1.3rem;
	overflow: scroll;
}
